/* global styling */

* {
  font-family: "Roboto", sans-serif;
}

main {
  transition: 0.5s;
}

section {
  position: relative;
}

a {
  color: inherit;
}

a:hover {
  color: #d53910;
  text-decoration: none;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Light/Dark Modes */

.light {
  background: #f5f5f5;
  color: #353b3c;
}

.dark {
  background: #353b3c;
  color: #f5f5f5;
}

/* global button styles */

.my-button {
  border: solid 2.5px #33c173;
  border-radius: 7.5px;
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
}

.red-button {
  border-color: #d53910;
}

/* Global Input styles */

input {
  transition: 0.5s;
}

.red-input {
  border: none;
  border-bottom: solid 2px #d53910;
}

.green-input {
  border: none;
  border-bottom: solid 2px #33c173;
}

.red-input:focus {
  border: none;
  border-bottom: solid 2px #d53910;
  outline: none;
}

.green-input:focus {
  border: none;
  border-bottom: solid 2px #33c173;
  outline: none;
}

/* Next Section button */

.next {
  height: 25px;
  width: 25px;
  border: solid 1.5px #d53910;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.next i {
  transition: 0.5s;
}

.next:hover {
  border-color: inherit;
  cursor: pointer;
}

.next:hover i {
  color: inherit;
}

/* Hero Images */

.hero {
  background-size: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: 0.5s;
}

.hero-1 {
  background-image: url("../images/hero1small.jpg");
  height: 80vh;
}

.hero-2 {
  background-image: url("../images/hero2small.jpg");
}

.hero-3 {
  background-image: url("../images/hero3small.jpg");
}

.hero-4 {
  background-image: url("../images/hero4small.jpg");
}

/* Header Styling */

header {
  transition: 0.5s;
}

#heading {
  padding-top: 10px;
  transition: 0.5s;
}

#heading a {
  transition: 0.5s;
}

#heading i {
  color: #d53910;
}

#heading i:hover {
  color: #33c173;
}

#heading a:hover {
  color: inherit;
}

/* Navbar */

/* copied and adapted from https://www.w3schools.com/howto/howto_js_sidenav.asp */

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.visible {
  width: 220px;
}

.shrink {
  margin-right: 220px;
}

.nav-item {
  width: 100%;
  margin: 0 10px;
  position: relative;
}

.nav a {
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.nav a:hover {
  cursor: pointer;
  color: #d53910;
}

#light-dark-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 2;
}

.toggle-dark i {
  color: #353b3c;
  transition: 0.3s;
}

#light-dark-toggle i:hover {
  color: #d53910;
}

.toggle-light i {
  color: #f5f5f5;
  transition: 0.3s;
}

#hamburger {
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

#hamburger i {
  color: #d53910;
  transition: 0.3s;
}

#hamburger:hover i {
  color: #33c173;
}

.flip {
  transform: rotate(90deg);
}

/* For all section headers */

.section-head {
  margin: 20px auto;
}

/* Instructions styling */

#instructions {
  width: 100%;
  padding: 40px 20px;
  position: relative;
}

.inst-set-1 {
  padding: 10px;
}

.inst-item {
  padding: 20px 40px;
}

.inst-head {
  color: #d53910;
}

.inst-set-2 {
  padding-bottom: 25px;
}

strong {
  color: #d53910;
}

/* Exercise Section Styling */

#exercises ul {
  padding: 25px 0;
}

.exercises-main {
  margin: 40px auto 0;
  padding-bottom: 40px;
}

.exercises-list {
  padding: 20px;
}

.exercise-item {
  margin: 20px auto;
  padding: 10px;
  transition: 0.3s;
  border: solid 1px #d53910;
}

.green {
  border: solid 1px #33c173;
}

.content {
  display: none;
  text-align: center;
  padding-left: 0;
}

.instructions {
  margin: 10px 5px 0 40px;
  text-align: left;
}

.instructions p, li {
  margin: 10px 0;
}

.workout-add {
  margin: 10px auto;
  width: 50%;
}

.toggle-trigger {
  cursor: pointer;
  margin-bottom: 0;
  padding: 5px 0;
}

/* Toggle-Trigger styling and animation taken and amended from
Udemy Course 'Modern Javascript: From Novice to Ninja' - Author: Shaun Pelling */

.toggle-trigger::after {
  content: ">";
  color: inherit;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 40px;
  transform: rotate(90deg) scale(1, 2);
  transition: transform 0.6s;
}

.toggle-trigger.active::after {
  transform: rotate(-90deg) scale(1, 2);
}

/* My Workout Section Styling */

.workout-main {
  margin: 40px auto 0;
  padding-bottom: 50px;
}

.workout-exercises {
  padding: 10px;
}

.workout-exercises h3 {
  margin: 20px auto;
}

#workout-list {
  margin: 30px auto 0;
}

.exercise {
  font-size: 1.2em;
  padding: 5px;
  margin: 2.5px;
  position: relative;
  border-bottom: solid 2px #33c173;
}

#workout-list i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#workout-list i:hover {
  cursor: pointer;
  color: #d53910;
}

.exercise-form {
  margin: 40px auto 0;
}

#exercise-add {
  width: 80%;
  height: 40px;
  padding-left: 5px;
}

.inst {
  padding: 10px;
}

.inst h3 {
  margin: 15px auto;
}

.inst p {
  margin: 20px 40px;
}

.inst ul {
  margin: 20px;
}

.inst .btn {
  margin: 20px auto;
}

/* Modal Box Stylings */

.modal-area {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  margin: auto;
  padding: 20px;
  width: 80vw;
  max-width: 500px;
  height: 70vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border: 2.5px solid #33c173;
  transition: 0.5s;
}

.modal-icon {
  position: absolute;
  top: 5px;
  font-size: 2em;
  font-weight: bold;
  transition: 0.25s;
}

#sound {
  left: 7px;
}

.fa-volume-up {
  color: #33c173;
  transition: 0.2s;
}

.fa-volume-mute {
  color: #d53910;
  transition: 0.2s;
}

#close-modal {
  color: #33c173;
  right: 7px;
}

#close-modal:hover, #close-modal:focus {
  color: #d53910;
}

.modal-icon:hover {
  cursor: pointer;
}

.buttons-div, .times-div {
  height: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-button {
  width: 70%;
  margin: 10px auto;
}

.modal-button:hover {
  cursor: pointer;
}

.custom-number {
  font-size: 1.2em;
  margin: 15px auto;
  background-color: #f5f5f5;
}

.custom-number:focus {
  outline: none;
}

.modal-heading {
  margin: 10px auto;
  font-size: 2em;
}

.custom-buttons-div {
  margin-top: 15%;
}

.timer {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #33c173;
  margin: auto;
  border: solid 5px #353b3c;
  border-radius: 50%;
}

.timerdisplay {
  position: relative;
  width: 90%;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  font-size: 5em;
}

.progress {
  background: #33c173;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.complete-img-div {
  width: 70%;
  margin: auto;
}

.complete-img {
  width: 100%;
  height: auto;
}

.social {
  margin: 20px auto;
}

.social i {
  font-size: 2em;
  color: #353b3c;
  margin: 0 10px;
  transition-duration: 0.25s;
}

.social i:hover {
  color: #33c173;
}

/* Contact Form Styling */

#contact {
  padding-bottom: 20px;
}

#contact-form {
  margin: 40px auto;
}

.form-field {
  margin: 40px auto;
}

.form-field label {
  text-align: left;
  margin-bottom: 0;
}

.form-field input, textarea {
  margin: auto;
}

textarea {
  transition: 0.5s;
}

#submit-button {
  margin: 20px auto;
}

#submit-button:focus {
  outline: none;
}

/* Stylings for toast alerts */

#toast {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 1;
}

#toast p {
  margin: 15px;
  text-align: center;
  font-weight: 600;
}

/* When submitting feedback form */

.form-feedback {
  background: #33c173;
  border: solid 2.5px #33c173;
  border-radius: 5px;
}

/* When inputs are invalid upon enter */

.negative {
  background: #d53910;
  border: solid 2.5px #d53910;
  border-radius: 5px;
}

/* Footer Styling */

footer {
  transition: 0.5s;
}

footer p {
  text-align: right;
  margin-bottom: 0;
  padding: 0 1rem 1rem 0;
}

/* Back to top button */

.circle {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2.5px;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-align: center;
}

.circle:hover {
  color: #33c173;
}

#toTop {
  padding-top: 3px;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .hero {
    height: 50vh;
  }
  .hero-1 {
    height: 70vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 40vh;
  }
  .hero-1 {
    height: 60vh;
  }
  .form-field label {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  #heading {
    font-size: 1.8em;
    padding-top: 15px;
  }
  .visible {
    width: 100%;
  }
  .shrink {
    margin-right: 0px;
  }
  .exercise-item, .form-field, .exercise-form, #workout-list {
    width: 85%;
  }
  .toggle-trigger::after {
    right: 60px;
  }
  .custom-buttons-div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .my-button:hover {
    font-size: 1.05em;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  }
  .hero-1 {
    background-image: url("../images/hero1.jpg");
    height: 80vh;
  }
  .hero-2 {
    background-image: url("../images/hero2.jpg");
  }
  .hero-3 {
    background-image: url("../images/hero3.jpg");
  }
  .hero-4 {
    background-image: url("../images/hero4.jpg");
  }
  p {
    font-size: 1.2em;
  }
}