body {
  background-image: url("../assets/images/background-image.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-attachment: fixed;
}

/* Header Styling */

/* Navbar */

.topnav {
  overflow: hidden;
  position: relative;
  border-bottom: solid 2px green;
}

.topnav #myLinks {
  display: none;
}

#heading a {
  color: black;
}

#heading a:hover {
  color: black;
  text-decoration: none;
}

#hamburger {
  display: block;
  position: absolute;
  height: 100%;
  right: 15px;
  top: 10px;
  font-size: 1.5em;
}

#hamburger:hover {
  color: green;
  cursor: pointer;
}

.section-link {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 1.4em;
}

.section-link:hover {
  color: green;
  text-decoration: inherit;
}

/* Instructions styling */

.description {
  background: rgba(255, 245, 245, 0.9);
  margin: 20px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* Exercise Section Styling */

/* Cards copied and adapted from W3 Schools page https://www.w3schools.com/howto/howto_css_cards.asp */

.card {
  background: rgba(255, 245, 245, 0.9);
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.content {
  display: none;
}

.content p {
  margin: 10px;
}

.content button {
  margin: 10px auto 20px auto;
}

.toggle-trigger {
  cursor: pointer;
  margin-bottom: 0;
  padding: 5px 0;
}

.card h3 {
  font-size: 0.9em;
}

ul {
  padding-left: 0;
}

/* Toggle-Trigger styling and animation taken and amended from
Udemy Course 'Modern Javascript: From Novice to Ninja' - Author: Shaun Pelling */

.toggle-trigger::after {
  content: ">";
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 20px;
  transform: rotate(90deg)scale(1, 2);
  transition: transform 0.6s;
}

.toggle-trigger.active::after {
  transform: rotate(-90deg) scale(1, 2);
}

/* My Workout Section Styling */

#workout ul {
  list-style-type: none;
}

#workout-list {
  margin: auto;
}

.exercise {
  background-color: rgba(255, 245, 245, 0.9);
  font-size: 1.2em;
  padding: 5px;
  margin: 10px 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

#workout-list i{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#workout-list i:hover{
  cursor: pointer;
  color: red;
}

#exercise-add {
  border: none;
  border-radius: 2.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40px;
  background-image: url('/assets/images/plus-solid.svg');
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 0.7em;
  background-color: rgba(255, 245, 245, 0.9);
  padding-left: 25px;
}

#exercise-add:focus {
  border: solid 2.5px grey;
  border-radius: 2.5px;
  background-color: lightpink;
}

/* Modal Box Stylings */

.modal-area {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);
}

.modal-content {
  background-color: #f0ead6;
  margin: auto;
  padding: 20px;
  width: 80vw;
  max-width: 500px;
  height: 50vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.buttons-div {
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-button{
  width: 50%;
  margin: 10px auto;
}

.modal-button:hover{
  cursor: pointer;
}

.modal-heading{
  margin: 10px auto;
  font-size: 1.5em;
}

.timer {
  height: 100%;
  background-color: red;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.timerdisplay {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5em;
}

.complete-img {
  margin: 15px;
}

/* Contact Form Styling */

form {
  margin: 20px;
}

.form-field * {
  margin: 10px 0;
  width: 50%;
}
textarea {
  transition: width 1s ease-in-out;
}

textarea:focus {
  width: 100%;
}

input[type=submit] {
  margin: 10px auto;
}

.form-feedback {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.form-feedback p {
  margin: 5px;
  text-align: center;
}

/* Footer Styling */

.circle {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#toTop {
  color: whitesmoke;
  text-align: center;
  padding-top: 2px;
}

/* Media Queries */