body {
  background-image: url("../assets/images/background-image.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-attachment: fixed;
}

/* Header Styling */

/* Exercise Section Styling */

/* My Workout Section Styling */

/* Modal Box Stylings */

/* Contact Form Styling */

/* Footer Styling */

/* Media Queries */