main {
  background: #f5f5f5;
}

p, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

section {
  position: relative;
}

.section-head {
  margin: 20px auto;
}

/* global button styles */

.my-button {
  color: #353B3C;
  border-color: #33C173;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
}

.my-button:hover {
  font-size: 1.05em;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 10px 25px 0 rgba(0,0,0,0.2);
}

.red-button {
  border-color: #d53910;
}

/* Next Section button */

.next {
  height: 25px;
  width: 25px;
  border: solid 1.5px #d53910;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.next:hover {
  cursor: pointer;
  border-color: black;
}

/* Anchor Tags */

a {
  color: black;
}

a:hover {
  color: #d53910;
  text-decoration: none;
}

/* Hero Images */

.hero {
  background-size: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-position: center;
  background-attachment: fixed;
}

.hero-1 {
  background-image: url("../assets/images/hero1.jpg");
  height: 80vh;
}

.hero-2 {
  background-image: url("../assets/images/hero2.jpg");
}

.hero-3 {
  background-image: url("../assets/images/hero3.jpg");
}

.hero-4 {
  background-image: url("../assets/images/hero4.jpg");
}

@media only screen and (max-width: 1200px) {
  .hero {
    height: 50vh;
  }
  .hero-1 {
    height: 70vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 40vh;
  }
  .hero-1 {
    height: 60vh;
  }
}

/* Header Styling */

/* Navbar */

.topnav {
  overflow: hidden;
  position: relative;
  border-bottom: solid 2px #d53910;
  background: #f5f5f5;
}

.topnav #myLinks {
  display: none;
}

#hamburger {
  display: block;
  position: absolute;
  height: 100%;
  right: 15px;
  top: 10px;
  font-size: 1.5em;
}

#hamburger:hover {
  color: #d53910;
  cursor: pointer;
}

.section-link {
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 1.4em;
}

/* Instructions styling */

#instructions {
  width: 100%;
  padding: 40px 20px;
  position: relative;
}

.inst-set-1 {
  padding: 10px;
}

.inst-item {
  padding: 20px 40px;
}

.inst-head {
  color: #d53910;
}

.inst-set-2 {
  padding-bottom: 25px;
}

strong {
  color: #d53910;
}

/* Exercise Section Styling */

ul {
  padding-left: 0;
  list-style-type: none;
  padding: 25px auto;
}

.exercises-main {
  margin: 40px auto 0;
  padding-bottom: 40px;
}

.exercises-list {
  padding: 20px;
}

.exercise-item {
  margin: 10px auto;
  transition: 0.3s;
  border: solid 1px #d53910;
}

.green {
  border: solid 1px #33C173;
}

.content {
  display: none;
}

.content p {
  margin: 10px;
}

.content button {
  margin: 10px auto 20px auto;
}

.toggle-trigger {
  cursor: pointer;
  margin-bottom: 0;
  padding: 5px 0;
}

.exercise-item h4 {
  font-size: 0.9em;
}

/* Toggle-Trigger styling and animation taken and amended from
Udemy Course 'Modern Javascript: From Novice to Ninja' - Author: Shaun Pelling */

.toggle-trigger::after {
  content: ">";
  color: #353B3C;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 30px;
  transform: rotate(90deg)scale(1, 2);
  transition: transform 0.6s;
}

.toggle-trigger.active::after {
  transform: rotate(-90deg) scale(1, 2);
}

/* My Workout Section Styling */

.workout-main {
  margin: 40px auto 0;
  padding-bottom: 50px;
}

.workout-exercises {
  padding: 10px;
}

.workout-exercises h3 {
  margin: 20px auto;
}

#workout-list {
  margin: 30px auto 0;
}

.exercise {
  font-size: 1.2em;
  padding: 5px;
  margin: 2.5px;
  position: relative;
  border-bottom: solid 2px #d53910;
}

#workout-list i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#workout-list i:hover {
  cursor: pointer;
  color: #d53910;
}

.exercise-form {
  margin: 40px auto 0;
}

#exercise-add {
  border: none;
  width: 80%;
  height: 40px;
  background-color: #f5f5f5;
  padding-left: 5px;
}

#exercise-add:focus {
  border: none;
  border-bottom: solid 2px #d53910;
  outline: none;
}

.inst {
  padding: 10px;
}

.inst h3 {
  margin: 15px auto;
}

.inst p {
  margin: 20px 40px;
}

.inst ul {
  margin: 20px;
}

.inst .btn {
  margin: 20px auto;
}

/* Modal Box Stylings */

.modal-area {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: #f5f5f5;
  margin: auto;
  padding: 20px;
  width: 80vw;
  max-width: 500px;
  height: 60vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border: 2.5px solid #33C173;
}

#close-modal {
  position: absolute;
  top: 5px;
  right: 7px;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

#close-modal:hover, #close-modal:focus {
  cursor: pointer;
  color: #d53910;
}

.buttons-div {
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-button {
  width: 50%;
  margin: 10px auto;
}

.modal-button:hover {
  cursor: pointer;
}

.modal-heading {
  margin: 10px auto;
  font-size: 2em;
}

.timer {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #33C173;
  margin: auto;
  border: solid 5px black;
  border-radius: 50%;
}

.timerdisplay {
  position: relative;
  width: 90%;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  font-size: 5em;
}

.progress {
  background: #33C173;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.complete-img-div {
  width: 70%;
  margin: auto;
}

.complete-img {
  width: 100%;
  height: auto;
}

/* Contact Form Styling */

#contact {
  padding-bottom: 20px;
}

#contact-form {
  margin: 40px auto;
}

.form-field {
  margin: 40px auto;
}

.form-field label {
  text-align: left;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .form-field label {
    margin-bottom: 20px;
  }
}

.form-field input, textarea {
  /* width: 100%; */
  margin: auto;
  background-color: #f5f5f5;
}

.red-input {
  border: none;
  border-bottom: solid 2px #d53910;
}

.green-input {
  border: none;
  border-bottom: solid 2px #33C173;
}

.red-input:focus {
  border: none;
  border-bottom: solid 2px #d53910;
  outline: none;
}

.green-input:focus {
  border: none;
  border-bottom: solid 2px #33C173;
  outline: none;
}

input[type=submit] {
  margin: 20px auto;
}

.form-feedback {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #d53910;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.form-feedback p {
  margin: 5px;
  text-align: center;
}

/* Footer Styling */

.circle {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d53910;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#toTop {
  color: #f5f5f5;
  text-align: center;
  padding-top: 2px;
}

/* Media Queries */